<div class="row">
	<!-- Slider -->
	<div class="col-md-12">
        <div class="slider">
            <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 352px;"><ul class="bxslider" style="width: 515%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-878px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 838px;" class="bx-clone">
                    <a href="">
                        <img src="/banner_slider-1.jpg" alt="">
                    </a>
                </li>
                <li style="float: left; list-style: none; position: relative; width: 838px;">
                    <a href="">
                        <img src="/banner_slider-3.jpg" alt="">
                    </a>
                </li>
                <li style="float: left; list-style: none; position: relative; width: 838px;">
                    <a href="">
                        <img src="/banner_slider-2.jpg" alt="">
                    </a>
                </li>
                <li style="float: left; list-style: none; position: relative; width: 838px;">
                    <a href="">
                        <img src="/banner_slider-1.jpg" alt="">
                    </a>
                </li>
            <li style="float: left; list-style: none; position: relative; width: 838px;" class="bx-clone">
                    <a href="">
                        <img src="/banner_slider-3.jpg" alt="">
                    </a>
                </li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>
        </div>
    </div>
    <!-- End Slider -->
</div>

<div class="row">
	<!-- Featured -->
	<div class="col-sm-12">
		<div class="col-lg-12 col-sm-12">
    		<span class="title">FEATURED PRODUCTS</span>
    	</div>
        <div class="col-lg-3 col-sm-4 hero-feature text-center">
            <div class="thumbnail">
            	<a href="/detail.html" class="link-p" style="overflow: hidden; position: relative;">
                	<img src="/product-2.jpg" alt="" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;">
            	</a>
                <div class="caption prod-caption">
                    <h4><a href="/detail.html">Age Of Wisdom Tan Graphic Tee</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
                    <p>
                    	</p><div class="btn-group">
                        	<a href="/index.html#" class="btn btn-default">$ 122.51</a>
                        	<a href="/index.html#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                    	</div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 hero-feature text-center">
            <div class="thumbnail">
            	<a href="/detail.html" class="link-p" style="overflow: hidden; position: relative;">
                	<img src="/product-3.jpg" alt="" style="position: absolute; width: 250px; height: auto; max-width: none; max-height: none; left: -4px; top: 0px;">
            	</a>
                <div class="caption prod-caption">
                    <h4><a href="/detail.html">Classic Laundry Green Graphic T-Shirt</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
                    <p>
                    	</p><div class="btn-group">
                        	<a href="/index.html#" class="btn btn-default">$ 628.96</a>
                        	<a href="/index.html#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                    	</div>
                    <p></p>
                </div>
            </div>
        </div>
	</div>
	<!-- End Featured -->
</div>