{{ define "edit" }}

	{{ template "header" }}

	<form method="POST" action="/save-register">
		<input type="hidden" name="id" value="{{ .Id }}"/>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="email" name="email"placeholder="Enter email" value="{{ .Email }}">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Repeat Password</label>
	    <input type="password" class="form-control" id="re_password" name="re_password" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>

	{{ template "footer" }}

{{ end }}